.layout{
    width: 80%;
    margin: 0 auto;
}
.d-inline-block{
    display: inline-block;
}
.vertical-align-middle{
    vertical-align: middle;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-spacing-2{
    letter-spacing: 2px;
}
.text-spacing-20{
    letter-spacing: 20px;
}
.fw-600{
    font-weight: 600;
}
.fw-900{
    font-weight: 900;
}


    
.text-center{
    text-align: center;
}
.overflow-auto{
    overflow: auto;

}
.float-left{
    float: left;

}

.clear-both{
    clear: both;
}
.h-50{
    font-size: 10rem;
    line-height:9rem ;
}
.float-right{
    float: right;
}
.mt-20{
    margin-top: 20px;
}
